<h1>TodoLists#index</h1>
<%= link_to 'Add', new_todo_list_path %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Tasks</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @todo_lists.each do |todo_list| %>
    <tr>
      <th scope="row"><%= todo_list.id %></th>
      <td><%= todo_list.name %></td>
      <td><%= todo_list.tasks.count %></td>
      <td><%= link_to 'view', todo_list_path(todo_list) %></td>
      <td><%= link_to 'delete', todo_list_path(todo_list), method: :delete, data: { alert: 'are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>