<h1><%= @todo_list.name %></h1>
<%= link_to 'Add task', new_todo_list_task_path(todo_list_id: @todo_list.id) %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @todo_list.tasks.each do |task| %>
    <tr>
      <th scope="row"><%= task.id %></th>
      <td><%= task.name %></td>
      <td><%= task.status %></td>
      <td>
        <% Task::STATUSES.keys.each do |status| %>
          <%= link_to status, status_update_todo_list_task_path(todo_list_id: @todo_list.id, id: task.id, status: status), method: :put %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>